<div class="columns is-centered">
    <div class="column">
        <p class="has-text-centered is-size-4">
            <span class="has-text-success has-text-weight-bold mb-auto">Success!</span>
            You can use <a href="{{joinURL}}" class="has-text-info">this link</a> to join the webinar when it starts.
        </p>
    </div>
</div>

